* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.Toastify__toast--warning {
    background: #FACE09;
}